.card {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 9px 8px -13px grey;
    cursor: pointer;
    display: grid;
    grid-template-areas:
        "card__title card__delete-button"
        "card__description card__description";
    padding: 5px;
    transition: all .2s;
}

.card:hover {
    border-color: #4096ff;
}

.card_selected {
    background-color: rgba(64, 150, 255, 0.1);
    border: 1px solid #4096ff;
}

.card__title {
    grid-area: card__title;
    margin: 0 0 8px;
    font-size: 20px;
    font-weight: bold;
}

.card__description {
    grid-area: card__description;
    font-size: 20px;
}

.card__delete-button {
    align-self: start;
    background-color: transparent;
    border: none;
    box-shadow: none;
    grid-area: card__delete-button;
    height: auto;
    justify-self: end;
    padding: 0;
    width: auto;
}

.card__delete-button:hover {
    transform: scale(0.9);
}
