.vocabulary {
    box-sizing: border-box;
    display: grid;
    column-gap: 10px;
    grid-template-areas:
        "title title"
        "card-form item"
        "list item";
    grid-template-columns: 1fr 1.5fr;
    height: 100vh;
    overflow: hidden;
    padding: 0 20px 0;
}

.vocabulary__title {
    text-align: center;
    grid-area: title;
}

.vocabulary__card-list {
    box-sizing: border-box;
    grid-area: list;
    height: 100%;
    overflow-y: auto;
}

.vocabulary__card-item {
    margin: 0 0 5px;
}

.vocabulary__card-item:last-of-type {
    margin-bottom: 0;
}

.vocabulary__card-info {
    box-sizing: border-box;
    grid-area: item;
    height: 100%;
    overflow-y: auto;
    /*padding: 0 10px 10px;*/
}
