.scrollable {
    align-content: start;
    display: grid;
    grid-template-areas:
        "scrollable__header"
        "scrollable__content";
    height: 100%;
}

.scrollable__header {
    grid-area: scrollable__header;
}

.scrollable__header_bordered {
    box-shadow: 0 9px 8px -10px grey;
}

.scrollable__content {
    grid-area: scrollable__content;
    height: 100%;
    overflow-y: auto;
}
