.add-translation-form {
    box-sizing: border-box;
    display: none;
    margin: 0 0 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    width: 50%;
}

.add-translation-form_visible {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.add-translation-form__input {
    border-radius: 6px 0 0 6px;
}

.add-translation-form__button {
    border-radius: 0 6px 6px 0;
}
