.manageable__add-form {
    display: none;
}

.manageable__add-form_visible {
    display: block;
}

.manageable__edit-form {
    display: none;
}

.manageable__edit-form_visible {
    display: block;
}

.manageable__header {
    align-items: center;
    display: flex;
}

.manageable__add-form {
    margin: 0 0 6px;
}
