.word-info__meaning {
    margin: 0 0 15px;
}

.word-info__meaning-title-container {
    display: flex;
    margin: 0 0 6px;
}

.word-info__meaning-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.word-info__add-meaning-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: black;
    height: auto;
    padding: 0;
    width: auto;
}

.word-info__add-meaning-button:hover {
    color: green;
}

.word-info__translation-list {
    padding: 0 0 0 10px;
}

.word-info__translation-item {
    margin: 0 0 5px;
}

.word-info__translation-item:last-of-type {
    margin-bottom: 0;
}
